PowerAutomate/Taller5 - Ejercicio2/Microsoft.Flow/flows/8ffc9b9a-3ac6-48ad-8ebc-435b2a6b2032/definition.json
{"name":"43eba539-9c59-4d42-bc79-29ece3fb6c80","id":"/providers/Microsoft.Flow/flows/43eba539-9c59-4d42-bc79-29ece3fb6c80","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Taller 5 - Ejercicio 2 (final)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"30786469-de80-48c0-a32d-ec9db1d7525b","type":"User","tenantId":"ce529094-35a9-43b5-96de-96ae3ba90a54"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-26T11:22:09.6553603Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_un_elemento":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"0b942dd8-0457-48dc-beb4-38570a06b547"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ykhys.sharepoint.com/sites/Taller4","table":"88796782-7238-424c-bc55-0f4c55bfe49c"},"authentication":"@parameters('$authentication')"},"description":"Trigger que se activará cuando se cree un nuevo elemento en la lista \"Grupos\""}},"actions":{"Obtener_mi_perfil_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"771d7ae9-5405-4c7b-8b09-66d97ea365db"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":"@parameters('$authentication')"},"description":"Actividad donde obtendremos los datos del perfil del administrador"},"Iniciar_y_esperar_una_aprobación":{"runAfter":{"Obtener_mi_perfil_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"28f118e2-7f06-42d4-80fc-08b7ae0603a1"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Solicitud de aprobación de @{triggerOutputs()?['body/ID']}","WebhookApprovalCreationInput/assignedTo":"jesus_1199@ykhys.onmicrosoft.com;","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"},"description":"Actividad donde crearemos una solicitud de aprobación por cada elemento creado en la lista"},"Aplicar_a_cada_uno":{"foreach":"@outputs('Iniciar_y_esperar_una_aprobación')?['body/responses']","actions":{"Condición":{"actions":{"Enviar_correo_electrónico_(V2)_-_En_caso_de_que_la_solicitud_haya_sido_aprobada":{"runAfter":{},"metadata":{"operationMetadataId":"bc238050-954c-469d-9964-c9d71eea6eda"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"Tu elemento ha sido aprobado","emailMessage/Body":"<p>Resumen de la respuesta: @{outputs('Iniciar_y_esperar_una_aprobación')?['body/responseSummary']}<br>\n<br>\nRespuesta: @{outputs('Iniciar_y_esperar_una_aprobación')?['body/outcome']}</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"},"description":"Actividad donde enviaremos un email a quien haya creado el nuevo item del grupo para informar que ha sido aprobado"},"Actualizar_elemento_-_Aprobado":{"runAfter":{"Publicar_mensaje_en_un_chat_o_canal_-_Mensaje_de_solicitud_aprobada":["Succeeded"]},"metadata":{"operationMetadataId":"33055a51-326f-4e03-9dec-3c423675b39e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ykhys.sharepoint.com/sites/Taller4","table":"88796782-7238-424c-bc55-0f4c55bfe49c","id":"@triggerOutputs()?['body/ID']","item/CodigoGrupo":"@triggerOutputs()?['body/CodigoGrupo']","item/Denominacion":"@triggerOutputs()?['body/Denominacion']","item/FechaCreacion":"@triggerOutputs()?['body/FechaCreacion']","item/Descripcion":"@triggerOutputs()?['body/Descripcion']","item/SectorAsociado/Id":"@triggerOutputs()?['body/SectorAsociado/Id']","item/FechaFinalizacion":"@triggerOutputs()?['body/FechaFinalizacion']","item/TipoGrupo/Value":"@triggerOutputs()?['body/TipoGrupo/Value']","item/Tematica/Value":"@triggerOutputs()?['body/Tematica/Value']","item/Ambito/Value":"@triggerOutputs()?['body/Ambito/Value']","item/Pais/Value":"@triggerOutputs()?['body/Pais/Value']","item/Ciudad/Value":"@triggerOutputs()?['body/Ciudad/Value']","item/Estado":"@triggerOutputs()?['body/Estado']","item/CodigoSector_2":"@triggerOutputs()?['body/CodigoSector_2']","item/Aprobacion":"\"Aprobado\""},"authentication":"@parameters('$authentication')"},"description":"Actividad donde actualizaremos el item y pondremos en el campo de estado de aprobación \"Aprobado\""},"Publicar_mensaje_en_un_chat_o_canal_-_Mensaje_de_solicitud_aprobada":{"runAfter":{"Enviar_correo_electrónico_(V2)_-_En_caso_de_que_la_solicitud_haya_sido_aprobada":["Succeeded"]},"metadata":{"operationMetadataId":"0f92a751-9691-4abc-bc0d-283e5cd886c6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"3ae5eb3c-618e-4016-971d-37f59c59c251","body/recipient/channelId":"19:d42989a0705f41db808cec1be28e78fb@thread.tacv2","body/messageBody":"<p>@{outputs('Iniciar_y_esperar_una_aprobación')?['body/outcome']}</p>"},"authentication":"@parameters('$authentication')"},"description":"Actividad donde añadiremos un mensaje de aprobación en el canal indicado"}},"runAfter":{},"else":{"actions":{"Enviar_correo_electrónico_(V2)_-_En_caso_de_que_la_solicitud_haya_sido_denegada":{"runAfter":{},"metadata":{"operationMetadataId":"32bc26e1-81d6-49a1-b044-b865cd196dfe"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"Tu elemento ha sido denegado.","emailMessage/Body":"<p>Respuesta del comentario: @{items('Aplicar_a_cada_uno')?['comments']}</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Actualizar_elemento_-_Denegado":{"runAfter":{"Publicar_mensaje_en_un_chat_o_canal_-_Mensaje_de_solicitud_denegado":["Succeeded"]},"metadata":{"operationMetadataId":"eea47d4f-877d-4244-be65-c2268cc47a1e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ykhys.sharepoint.com/sites/Taller4","table":"88796782-7238-424c-bc55-0f4c55bfe49c","id":"@triggerOutputs()?['body/ID']","item/CodigoGrupo":"@triggerOutputs()?['body/CodigoGrupo']","item/Denominacion":"@triggerOutputs()?['body/Denominacion']","item/FechaCreacion":"@triggerOutputs()?['body/FechaCreacion']","item/Descripcion":"@triggerOutputs()?['body/Descripcion']","item/SectorAsociado/Id":"@triggerOutputs()?['body/SectorAsociado/Id']","item/FechaFinalizacion":"@triggerOutputs()?['body/FechaFinalizacion']","item/TipoGrupo/Value":"@triggerOutputs()?['body/TipoGrupo/Value']","item/Tematica/Value":"@triggerOutputs()?['body/Tematica/Value']","item/Ambito/Value":"@triggerOutputs()?['body/Ambito/Value']","item/Pais/Value":"@triggerOutputs()?['body/Pais/Value']","item/Ciudad/Value":"@triggerOutputs()?['body/Ciudad/Value']","item/Estado":"@triggerOutputs()?['body/Estado']","item/CodigoSector_2":"@triggerOutputs()?['body/CodigoSector_2']","item/Aprobacion":"\"Denegado\""},"authentication":"@parameters('$authentication')"},"description":"Actividad donde actualizaremos el item y pondremos en el campo de estado de aprobación \"Denegado\""},"Publicar_mensaje_en_un_chat_o_canal_-_Mensaje_de_solicitud_denegado":{"runAfter":{"Enviar_correo_electrónico_(V2)_-_En_caso_de_que_la_solicitud_haya_sido_denegada":["Succeeded"]},"metadata":{"operationMetadataId":"eb12617f-105d-4fbf-918a-27892cc111b7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"3ae5eb3c-618e-4016-971d-37f59c59c251","body/recipient/channelId":"19:d42989a0705f41db808cec1be28e78fb@thread.tacv2","body/messageBody":"<p>@{outputs('Iniciar_y_esperar_una_aprobación')?['body/outcome']}</p>"},"authentication":"@parameters('$authentication')"},"description":"Añadiremos un mensaje de aprobación en el canal indicado"}}},"expression":{"equals":["@items('Aplicar_a_cada_uno')?['approverResponse']","Approve"]},"metadata":{"operationMetadataId":"1465a868-3d7c-4bac-a022-5d7fe33cff94"},"type":"If","description":"Condición donde comprobaremos si la solicitud del usuario ha sido aprobada"}},"runAfter":{"Publicar_mensaje_en_un_chat_o_canal_-_Mensaje_con_la_solicitud":["Succeeded"]},"metadata":{"operationMetadataId":"c76effca-f14a-49aa-97b8-504e016d0283"},"type":"Foreach"},"Publicar_mensaje_en_un_chat_o_canal_-_Mensaje_con_la_solicitud":{"runAfter":{"Iniciar_y_esperar_una_aprobación":["Succeeded"]},"metadata":{"operationMetadataId":"0b4305c2-42c1-4800-8853-8d65eb42a8ab"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"3ae5eb3c-618e-4016-971d-37f59c59c251","body/recipient/channelId":"19:d42989a0705f41db808cec1be28e78fb@thread.tacv2","body/messageBody":"<p>URL de la solicitud:&nbsp;@{outputs('Iniciar_y_esperar_una_aprobación')?['body/itemLink']}</p>"},"authentication":"@parameters('$authentication')"},"description":"Actividad donde añadiremos el mensaje con la solicitud en el canal indicado"}}},"connectionReferences":{"shared_office365users":{"connectionName":"shared-office365user-01ce17a5-7ea4-4f47-a00e-80725d6a7534","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-0f6e69db-d710-4f51-a186-6c85fe1cf0e8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-6b97adb2-267d-445e-a2d3-7801c6541636","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-619dfc7f-3119-426c-9502-7a5b18a1729e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-05c2f86a-0d37-49e9-80a3-476101b15bd6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}